@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

*{
    padding: 0;
    margin: 0;
}


body {
    min-height: 100vh;
}

header{
    background-color: black;
    color: white;
    text-align: center;
    
}

header > h1 {
    
    padding-top: 50px;
    font-family: "Passion one";
    font-variant: small-caps;
    font-size: 10vw;
    
}

header > p {
    
    font-family: "Sriracha";
    padding-bottom: 50px;
}

a {
color: white;
text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.cordel_1 {
    font-family:"Sriracha" ;
    font-size: 3.5vw;
    margin: 30px;
    line-height: 100px;
    padding-bottom: 100px;
    
}

.cordel_img1 {
    background-image: url(imagens/background001.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    font-family:"Sriracha" ;
    font-size: 3.5vw;
    margin: 0px;
    line-height: 100px;
    padding: 26px;
    color: white;
}

.cordel_2 {
    font-family:"Sriracha" ;
    font-size: 3.5vw;
    margin: 30px;
    line-height: 100px;
    padding-top: 30px;
}

.cordel_3 {
    font-family:"Sriracha" ;
    font-size: 3.5vw;
    margin: 30px;
    line-height: 100px;
    padding-top: 50px;
    padding-bottom: 100px;
}

.cordel_img2 {
            background-image: url(imagens/background002.jpg);
            background-position: center center;
            background-attachment: fixed;
            background-size: cover;
            font-family:"Sriracha" ;
            font-size: 3.5vw;
            margin: 0px;
            line-height: 100px;
            padding: 26px;
            color: rgb(0, 0, 0); 
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 8px;
    font-family: "Sriracha";
}

@media screen and (min-width:350px){
    header {
        font-size: 10px;
        
    }
}